name: test

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  # make workflow callable by others
  workflow_call:

jobs:
  test:
    name: run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - '22.x'
          - '24.x'

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: setup Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: install DuckDB
      run: |
        set -eux -o pipefail
        curl -fsSL -U '${{ github.repository }} CI' 'https://install.duckdb.org' | sh
        echo "$HOME/.duckdb/cli/latest" >>"$GITHUB_PATH"
        ~/.duckdb/cli/latest/duckdb --version

    - run: npm install

    - run: npm run lint
    - name: npm test
      run : npm test
